#tabuleiro {
    width: 640px;
    height: 640px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border: 2px solid black;
}

.casa {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.clara {
    background-color: #f0d9b5;
}

.escura {
    background-color: #b58863;
}

.peca {
    width: 80%;
    height: 80%;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

.selecionada {
    box-shadow: inset 0 0 0 4px rgba(255, 215, 0, 0.8);
}

.movimento::after {
    content: "";
    width: 20%;
    height: 20%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
}

.casa {
    position: relative;
}